.entry-time {
    font-weight: bold !important;
    font-size: 16px !important;
    color: #263366;
}

.panel {
    border-radius: 0;
    padding-left: 17px;
    padding-right: 17px;
}

@media (min-width: 1200px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 300px) {
    .entry-time {
        font-size: 14px !important;
    }
}

body {
    font-family: "Work Sans", sans-serif;
    line-height: 1.4;
    color: #555;
}

/* ========================================================================
     Component: utils
 ========================================================================== */
.m0 {
    margin: 0 !important;
}

.ml0 {
    margin-left: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.m {
    margin: 10px !important;
}

.ml, .mh {
    margin-left: 10px !important;
}

.mr, .mh {
    margin-right: 10px !important;
}

.mt, .mv {
    margin-top: 10px !important;
}

.mb, .mv {
    margin-bottom: 10px !important;
}

.m-sm {
    margin: 5px !important;
}

.ml-sm, .mh-sm {
    margin-left: 5px !important;
}

.mr-sm, .mh-sm {
    margin-right: 5px !important;
}

.mt-sm, .mv-sm {
    margin-top: 5px !important;
}

.mb-sm, .mv-sm {
    margin-bottom: 5px !important;
}

.m-md {
    margin: 15px !important;
}

.ml-md {
    margin-left: 15px !important;
}

.mr-md {
    margin-right: 15px !important;
}

.mt-md {
    margin-top: 15px !important;
}

.mb-md {
    margin-bottom: 15px !important;
}

.m-lg {
    margin: 20px !important;
}

.ml-lg, .mh-lg {
    margin-left: 20px !important;
}

.mr-lg, .mh-lg {
    margin-right: 20px !important;
}

.mt-lg, .mv-lg {
    margin-top: 20px !important;
}

.mb-lg, .mv-lg {
    margin-bottom: 20px !important;
}

.m-xl {
    margin: 25px !important;
}

.ml-xl {
    margin-left: 25px !important;
}

.mr-xl {
    margin-right: 25px !important;
}

.mt-xl {
    margin-top: 25px !important;
}

.mb-xl {
    margin-bottom: 25px !important;
}

.m-xxl {
    margin: 35px !important;
}

.ml-xxl {
    margin-left: 35px !important;
}

.mr-xxl {
    margin-right: 35px !important;
}

.mt-xxl {
    margin-top: 35px !important;
}

.mb-xxl {
    margin-bottom: 35px !important;
}

.m-xxxl {
    margin: 45px !important;
}

.ml-xxxl {
    margin-left: 45px !important;
}

.mr-xxxl {
    margin-right: 45px !important;
}

.mt-xxxl {
    margin-top: 45px !important;
}

.mb-xxxl {
    margin-bottom: 45px !important;
}

.p0 {
    padding: 0 !important;
}

.pl0, .ph0 {
    padding-left: 0 !important;
}

.pr0, .ph0 {
    padding-right: 0 !important;
}

.pt0, .pv0 {
    padding-top: 0 !important;
}

.pb0, .pv0 {
    padding-bottom: 0 !important;
}

.p {
    padding: 10px !important;
}

.pl, .ph {
    padding-left: 10px !important;
}

.pr, .ph {
    padding-right: 10px !important;
}

.pt, .pv {
    padding-top: 10px !important;
}

.pb, .pv {
    padding-bottom: 10px !important;
}

.p-sm {
    padding: 5px !important;
}

.pl-sm, .ph-sm {
    padding-left: 5px !important;
}

.pr-sm, .ph-sm {
    padding-right: 5px !important;
}

.pt-sm, .pv-sm {
    padding-top: 5px !important;
}

.pb-sm, .pv-sm {
    padding-bottom: 5px !important;
}

.p-lg {
    padding: 15px !important;
}

.pl-lg, .ph-lg {
    padding-left: 15px !important;
}

.pr-lg, .ph-lg {
    padding-right: 15px !important;
}

.pt-lg, .pv-lg {
    padding-top: 15px !important;
}

.pb-lg, .pv-lg {
    padding-bottom: 15px !important;
}

.p-xl {
    padding: 30px !important;
}

.pl-xl, .ph-xl {
    padding-left: 30px !important;
}

.pr-xl, .ph-xl {
    padding-right: 30px !important;
}

.pt-xl, .pv-xl {
    padding-top: 30px !important;
}

.pb-xl, .pv-xl {
    padding-bottom: 30px !important;
}

.b0 {
    border-width: 0 !important;
}

.bl0 {
    border-left-width: 0 !important;
}

.br0 {
    border-right-width: 0 !important;
}

.bt0 {
    border-top-width: 0 !important;
}

.bb0 {
    border-bottom-width: 0 !important;
}

.br, .b, .ba {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.bl, .b, .ba {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.bt, .b, .ba {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.bb, .b, .ba {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.radius-clear {
    border-radius: 0 !important;
}

.shadow-clear {
    box-shadow: 0 0 0 #000 !important;
}

.text-sm {
    font-size: 11.9px;
}

.text-md {
    font-size: 26.6px;
}

.text-lg {
    font-size: 42px;
}

.text-nowrap {
    white-space: nowrap;
}

.text-thin {
    font-weight: 100 !important;
}

.text-normal {
    font-weight: normal !important;
}

.text-bold {
    font-weight: bold !important;
}

.inline {
    display: inline-block !important;
}

.block-center {
    margin: 0 auto;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-cover {
    background-size: cover;
}

.thumb8 {
    width: 8px !important;
    height: 8px !important;
}

.thumb16 {
    width: 16px !important;
    height: 16px !important;
}

.thumb24 {
    width: 24px !important;
    height: 24px !important;
}

.thumb32 {
    width: 32px !important;
    height: 32px !important;
}

.thumb48 {
    width: 48px !important;
    height: 48px !important;
}

.thumb64 {
    width: 64px !important;
    height: 64px !important;
}

.thumb80 {
    width: 80px !important;
    height: 80px !important;
}

.thumb96 {
    width: 96px !important;
    height: 96px !important;
}

.thumb128 {
    width: 128px !important;
    height: 128px !important;
}

.align-middle {
    vertical-align: middle;
}

.align-top {
    vertical-align: top;
}

.align-bottom {
    vertical-align: bottom;
}

.bg-center {
    background-position: center center;
    background-size: cover;
}

.wd-xxs {
    width: 60px;
}

.wd-xs {
    width: 90px;
}

.wd-sm {
    width: 150px;
}

.wd-sd {
    width: 200px;
}

.wd-md {
    width: 240px;
}

.wd-lg {
    width: 280px;
}

.wd-xl {
    width: 320px;
}

.wd-xxl {
    width: 360px;
}

.wd-wide {
    width: 100%;
}

.wd-auto {
    width: auto;
}

.wd-zero {
    width: 0;
}

.clickable {
    cursor: pointer;
}

.abs-center-container {
    position: relative;
}

.abs-center {
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.abs-center.abs-fixed {
    position: fixed;
    z-index: 999;
}

.abs-center.abs-right {
    left: auto;
    right: 20px;
    text-align: right;
}

.abs-center.abs-left {
    right: auto;
    left: 20px;
    text-align: left;
}

@media (max-height: 720px) {
    .abs-center {
        position: relative;
    }
}

.link-unstyled {
    text-decoration: none !important;
    outline: none !important;
}

.no-resize {
    resize: none;
    max-width: 100%;
    min-width: 100%;
}

/**
 * Displays hidden content on hover. Add this class to the parent element.
 * Markup
 *   <div class="hover-visible">
 *    <div class="hover-hidden"></div>
 *   </div>
 */
.hover-visible .hover-hidden {
    display: none;
}

.hover-visible:hover .hover-hidden {
    display: block;
}

.hover-visible:hover .hover-inline {
    display: inline-block;
}

.media-box,
.media-box-body {
    overflow: hidden;
    zoom: 1;
}

.media-box,
.media-box .media-box {
    margin-top: 15px;
}

.media-box:first-child {
    margin-top: 0;
}

.media-box-object {
    display: block;
}

.media-box-heading {
    margin: 0 0 5px;
}

.media-box > .pull-left {
    margin-right: 10px;
}

.media-box > .pull-right {
    margin-left: 10px;
}

.media-box-list {
    padding-left: 0;
    list-style: none;
}

.profile-section-title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-right: 6px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 500;
    color: #ff840b;
}