<div class="row">
    <div class="col-md-3">
        <img src="./assets/images/image.png" class="img-thumbnail" alt="Profile pic">
    </div>
    <div class="col-md-9">
        <h2>{{ personalInfo?.lastName }} {{ personalInfo?.firstName }}</h2>
        <small class=""><strong>Email:</strong> {{ personalInfo?.email }}</small>
        <br/>
        <small><strong>Phone:</strong> {{ personalInfo?.phone }}</small>
        <br/>
        <small><strong>Address:</strong> {{ personalInfo?.address }}
        </small>
    </div>
</div>
