<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-lg">Curriculum Vitae</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <app-personal-info></app-personal-info>
                    <app-separator></app-separator>
                    <app-bio></app-bio>
                    <app-separator></app-separator>
                    <app-education></app-education>
                    <app-separator></app-separator>
                    <app-work-experience></app-work-experience>
                    <app-separator></app-separator>
                    <app-skills></app-skills>
                    <app-separator></app-separator>
                    <app-projects></app-projects>
                </div>
            </div>
        </div>
    </div>
</div>