<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-section-title">Proiecte</div>
            </div>
        </div>
        <ng-template ngFor let-project [ngForOf]="projects" let-i="index">
            <app-project-block [startDate]="project.startDate"
                               [endDate]="project.endDate"
                               [title]="project.title"
                               [description]="project.description"
                               [technologies]="project.technologies"></app-project-block>
            <app-separator *ngIf="i < projects.length-1"></app-separator>
        </ng-template>

    </div>
</div>