<div class="container" style="padding-bottom: 20px;">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="text-lg">Curriculum Vitae</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <app-personal-info [personalInfo]="cvData.personalInfo"></app-personal-info>
          <app-separator></app-separator>
<!--          <app-bio [bio]="cvData.bio"></app-bio>-->
<!--          <app-separator></app-separator>-->
          <app-education [education]="cvData.education"></app-education>
          <app-separator></app-separator>
          <app-work-experience [workExperience]="cvData.workExperience"></app-work-experience>
          <app-separator></app-separator>
          <app-skills [skills]="cvData.skills"></app-skills>
          <app-languages [languages]="cvData.languages"></app-languages>
          <app-separator></app-separator>
          <app-projects [projects]="cvData.projects"></app-projects>
        </div>
      </div>
    </div>
  </div>
</div>
