<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-section-title">Skills</div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li style="margin-top: 10px;"><b>Proficient: </b> {{ skills?.proficient }}</li>
            <li style="margin-top: 10px;"><b>Familiar: </b> {{ skills?.familiar }}</li>
          </ul>
        </div>
      </div>
    </div>
</div>
